<section style="background-color: antiquewhite; min-height:100vh">
<div class="container pt-5">
  <div  style="text-align: center; padding-top:10px; text-decoration: underline;" ><h1>All Users</h1></div>

<table class="table ">
   
  <thead class="table-dark">
     <tr>
      <th scope="col">Name</th>
       <th scope="col">Email</th>
      <th scope="col">PhoneNumber</th>
      {{!-- <th scope="col">password</th> --}}
        <th scope="col">Options</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
       {{#each users}}
    <tr class="table-active">
      <td class="table-light">{{this.name}}</td>
      <td class="table-light">{{this.email}}</td>
       <td class="table-light">{{this.phoneNumber}}</td>
       {{!-- <td class="table-dark">{{this.password}}</td> --}}
      
       <td class="table-light">
          {{#if this.userBlock}}
      <a href="/admin/unblock-user/{{this._id}}" class="btn btn-success">Unblock</a>
    {{else}}
      <a href="/admin/block-user/{{this._id}}" class="btn btn-primary">block</a>
      </td>
      {{/if}}
      
          <td class="table-orange"><a href="/admin/delete-users/{{this._id}}" class="btn btn-danger">Delete</a></td>

    </tr>
    {{/each}}
   
  </tbody>
</table>
</div>
</section>