

<section style="background-color: antiquewhite; min-height:100vh;"> 
    <div class="container pt-5"  >
  <div  style="text-align: center; padding-top:10px; text-decoration: underline;" ><h1>Edit Categories</h1></div>

    <div class="row" >
        <form action="/admin/edit-category/{{category._id}}" method="post" enctype="multipart/form-data">
  
  <div class="col-md-8" style="padding-left: 200px;" >
    
    <label for="" class="form-label"><h3>Brand:</h3></label>
    <input type="text" name="brand" value="{{category.brand}}" class="form-control">
  <div class="mt-3">
    <label for="" class="form-label"><h3>Category:</h3></label>
    <input type="text" name="category" value="{{category.category}}" class="form-control" id="exampleInputPassword1">
  </div>

 
  

  <div class="mt-3 ">
    <label for="" class="form-label; mb-5"><h3>Image:</h3></label>
    <img src="/category-image/{{category._id}}.jpg" alt="" style="width: 100px; height:auto" id="imgView">
    <input type="file" name="image"  value="{{category._id}}.jpg" class="form-control" id="exampleInputPassword1" onchange="viewImage(event)">
  </div>

  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
    </div>
    </div>
</section>