<section style="background-color: antiquewhite;min-height:100vh">
    <div class="container">
    <div class="row">
      <h2>Edit Product</h2>
        <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
  <div class="col-md-6">
    
    <input type="text" name="brand"value="{{product.brand}}" class="form-control">
  <div class="mt-3">
    
    <input type="text" name="category"  value="{{product.category}}" class="form-control" id="exampleInputPassword1">
  </div>

 
     <div class="mt-3">
 
    <input type="text" name="description" value="{{product.description}}" class="form-control" id="exampleInputPassword1">
  </div>


  <div class="mt-3">
    
    <input type="text" name="orginalPrice" value="{{product.orginalPrice}}" class="form-control" id="OP">
  </div>
 
  <div class="mt-3">
   
    <input type="text" name="offerPrice" value="{{product.offerPrice}}" class="form-control" id="OFFER PRICE" hidden>
  </div>


  <div class="mt-3">
    
    <input type="text" name="offerpercentage" value="{{product.offerpercentage}}" class="form-control" id="OFR %">
  </div>

  <div class="mt-3">
    <label for="" class="form-label">image:</label>
    <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 50px; height:auto" id="imgView">
    <input type="file" name="image"  value="{{product._id}}.jpg" class="form-control" id="exampleInputPassword1" onchange="viewImage(event)">
  </div>
    <div class="mt-3">
    <label for="" class="form-label">image:</label>
    <img src="/product-images1/{{product._id}}.jpg" alt="" style="width: 50px; height:auto" id="imgView1">
    <input type="file" name="images"  value="{{product._id}}.jpg" class="form-control" id="exampleInputPassword1" onchange="viewImage1(event)">
  </div>
  <div class="mt-3">
    <label for="" class="form-label">image:</label>
    <img src="/product_image3/{{product._id}}.jpg" alt="" style="width: 50px; height:auto" id="imgView2">
    <input type="file" name="image3"  value="{{product._id}}.jpg" class="form-control" id="exampleInputPassword1" onchange="viewImage1(event)">
  </div>

  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
    </div>
    </div>
</section>
<script>
  function viewImage(event){
    document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
  }
   function viewImage1(event){
    document.getElementById('imgView1').src=URL.createObjectURL(event.target.files[0])
  }
   function viewImage2(event){
    document.getElementById('imgView2').src=URL.createObjectURL(event.target.files[0])
  }

</script>