<section style="background-color: antiquewhite; min-height:100vh; width:100%">
  <div class="container ">
    
  <div  style="text-align: center; padding-top:10px; text-decoration: underline;" ><h1>All Products</h1></div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Brand</th>
          <th scope="col">Category</th>
          <th scope="col">Description</th>
          <th scope="col">OP</th>
          <th scope="col">OfrP</th>
          <th scope="col">Ofr%</th>
          <th scope="col">Images</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>
              {{this.brand}}
            </td>

            <td>{{this.category}}
            </td>
            <td>
              {{this.description}}
            </td>
            <td>
              {{this.orginalPrice}}
            </td>

            <td>
              {{this.offerPrice}}
            </td>
            <td>
              {{this.offerpercentage}}
            </td>
            <td><img
                style="width: 50px; hieght: 50px;"
                src="/product-images/{{this._id}}.jpg"
                alt=""
              />

            </td>
            <td><img
                style="width: 50px; hieght: 50px;"
                src="/product-images1/{{this._id}}.jpg"
                alt=""
              />

            </td>
            <td>
              <a style="width: 70px;"
                href="/admin/edit-product/{{this._id}}"
                class="btn btn-primary w-"
              >Edit</a>
              <a
                href="/admin/delete-product/{{this._id}}"
                class="btn btn-danger"
                onclick="return confirm('Are You Want to Delete {{this.brand}}?')"
              >Delete </a>
            </td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </div>

</section>