  {{!-- <header>
      <nav class="navbar navbar-expand-lg navbar-light " id="navbar" >
        <div>
        <a class="navbar-brand text-light ms-5 mt-1" href="/"><img src="/product-images/logo.png" id="logo" style="width: 3rem;" alt="logo"></a>
        </div>
      
        <div class="ms-auto me-5 ">

          <div class="collapse navbar-collapse text-light" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item " id="love">
               <a class="nav-link text-light "  aria-current="page" href="/wishlist"><i class="fas fa-heart fa-lg pe-2 count" style='font-size:20px' ></i></a> 

              </li>


<div >
  <li class="nav-item me-4 ">
                <a class="nav-link text-light " aria-current="page" href="/cart">   
                 <div  class='fas fa-baby-carriage count ' style='font-size:20px ' " id="cart-btn">
          
                 </div></a>
              </li> 
</div>
          <span class="top-0 start-10 translate-middle p-1 count" id="cartCount"  style='font-size:15px' >{{cartCount}}
  
  </span>
                      
              <li class="nav-item mt-4 me-5">
                <a class="nav-link text-light" href="/orders"><i class="fas fa-shopping-bag fa-lg pe-2 count" style='font-size:20px'></i>Orders</a>
              </li>
            

              <li class="nav-item mt-4">
               <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle count" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    {{#if user}}
    {{user.name}}
    {{else}}
      <i class="fas fa-user pe-2"></i>LOGIN
    {{/if}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
     {{#if user}}
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
    {{else}}
      <li><a class="dropdown-item" href="/login">Login</a></li>
{{/if}}
  </ul>
</div>
              </li>

            </ul>
          </div>
        </div>

        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-light" aria-current="page" href="#">

                </a>
              </li>
              <li class="nav-item">
             <div class="dropdown">
   <ul class=" nav-item">
              <li class="nav-item me-4 mt-4">
               <a class="nav-link text-light" aria-current="page" href="/wishlist"><i class="fas fa-heart fa-lg pe-2"></i> Wishilist</a> 

              </li>



              <li class="nav-item me-4 mt-4">
                <a class="nav-link text-light" aria-current="page" href="/cart">    <div
            class="fa fa-shopping-cart fa-lg text-light pe-2"
            id="cart-btn"
          ></div> cart</a>
              </li>


            
              <li class="nav-item mt-4 me-5">
                <a class="nav-link text-light" href="#"><i class="fas fa-shopping-bag fa-lg pe-2"></i>Orders</a>
              </li>
            

              <li class="nav-item mt-4">
               <div class="dropdown">
  <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    {{#if user}}
    {{user.name}}
    {{else}}
      <i class="fas fa-user pe-2"></i>LOGIN
    {{/if}}
  </button>
  <ul class="dropdown-menu"  aria-labelledby="dropdownMenuButton1">
     {{#if user}}
    <li><a class="dropdown-item" href="/logout">Logout</a></li>
    {{else}}
      <li><a class="dropdown-item" href="/login">Login</a></li>
{{/if}}
  </ul>
</div>
              </li>

            </ul>
  
</div>
              </li>

            </ul>
          </div>
        </div>

              </li>
            </ul>
          </div>
        </div>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarToggleExternalContent"
          aria-controls="navbarToggleExternalContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

      </nav>

    </header> --}}




    <!---header-->
<nav class="navbar navbar-expand-lg navbar-light bg-dark shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand h1" href="/">
      <span class="t h4" style="color: darkorange;">K</span>
      <span class="text-black">IDDIE</span>
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="
            align-self-center
            collapse
            navbar-collapse
            flex-fill
            d-lg-flex
            justify-content-lg-between
          " id="navbar-toggler-success">
      <div class="flex-fill mx-xl-5 mb-2">
        <ul class="
                nav
                navbar-nav
                d-flex
                justify-content-between
                mx-xl-5
                text-center text-dark
              ">
          <li class="nav-item">
            <a class="nav-link btn-outline-danger rounded-pill px-3" href="/category-view/BOYS">BOYS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-danger rounded-pill px-3" href="/category-view/GIRLS">GIRLS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-danger rounded-pill px-3" href="/category-view/FOOTWEAR">FOOTWEAR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-danger rounded-pill px-3" id="cartCount "   href="/cart">CART <span  class="badge bg-dark">{{cartCount}}</span>
            </a>
            

          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-danger rounded-pill px-3" href="/wishlist">WISHLIST</a>
          </li>
          <div class="dropdown">
            <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
              data-bs-toggle="dropdown" aria-expanded="false">
              {{#if user}}
              {{user.name}}
              {{else}}
              <i class="fas fa-user pe-2"></i>LOGIN
              {{/if}}
            </button>
            <ul class="dropdown-menu" style="margin: 0; padding:0;" aria-labelledby="dropdownMenuButton1">
              {{#if user}}
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
              {{else}}
              <li><a class="dropdown-item" href="/login">Login</a></li>
              {{/if}}
                {{#if user}}
              <li><a class="dropdown-item" href="/myprofile">{{user.name}}</a></li>
              
              {{/if}}
            </ul>
          </div>
        </ul>
      </div>

      {{!-- <div class="navbar align-self-center d-flex">
        <a class="nav-link" href="">
          <i class="fab fa-facebook text-danger"></i>
        </a>
        <a class="nav-link" href="">
          <i class="fab fa-instagram text-danger"></i>
        </a>
        <a class="nav-link" href="">
          <i class="fab fa-youtube text-danger"></i>
        </a>
      </div> --}}
    </div>
  </div>
</nav>
{{!-- ====================cart============================ --}}
