<section style="background-color: antiquewhite;">
  <div class="container-fluid pt-5" style="min-height: 100vh;">
    <div class="row">
      <div class=" co-xxl-6 col-xl-6 col-md-6 col-sm-12 ">
        <div class="zoom mx-auto" id="img-container">

          <img  class="zoom1" src="/product-images/{{product._id}}.jpg">

        </div>
         <div class="flex" style="display: flex;">

         <div class="card mt-3" style="width: 6rem; margin-left:5rem">
        <img src="/product-images/{{product._id}}.jpg" class="zoom card-img-top" alt="...">     
        </div>
         <div class="card mt-3"  id="img-container1" style="width: 6rem; margin-left:35px">
        <img src="/product-images1/{{product._id}}.jpg" class="zoom card-img-top" alt="...">     
        </div>
         <div class="card mt-3"   style="width: 6rem;margin-left:35px">
        <img src="/product_image3/{{product._id}}.jpg" class="zoom card-img-top" alt="...">     
        </div>

       </div>

      </div>
      <div class=" co-xxl-6 col-xl-6 col-md-6 col-sm-12">

        <span class="fs-2 ">{{product.description}}</span>
        <p> <span class="text-success fs-3">₹{{product.offerPrice}}</span><span
            class="text-danger text-decoration-line-through fs-5 ps-3">₹{{product.orginalPrice}}</span> <span
            class="fs-3">{{product.offerpercentage}}%off</span></p>
        <p><span class="fs-5"> Available offers </span><br>

          <i class="bi bi-bookmark-fill pe-1 text-success"></i>Bank Offer10% off on Slice Cards, up to ₹200. On orders
          of ₹1000 and <a href="#" class="text-decoration-none">aboveT&C</a><br>

          <i class="bi bi-bookmark-fill pe-1 text-success"></i>Bank Offer5% Cashback on Kiddie Axis Bank a <a href="#"
            class="text-decoration-none">CardT&C</a> <br>

          <i class="bi bi-bookmark-fill pe-1 text-success"></i>Partner OfferBuy this product and get upto ₹500 off on
          Kiddie Fashion <a href="#" class="text-decoration-none"> Know More</a><br>

          <i class="bi bi-bookmark-fill pe-1 text-success"></i>Partner OfferSign up for Men's card Pay Later and get
          Card worth ₹100* <a href="#" class="text-decoration-none">Know More</a><br>


        <div class="dropdown">
          Available:
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
            aria-expanded="false">
            size
          </button> <button type="submit"  onclick="addToCart('{{product._id}}')" class="btn btn-dark">Add Cart</button>
       
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">small</a></li>
            <li><a class="dropdown-item" href="#">medium</a></li>
            <li><a class="dropdown-item" href="#">large</a></li>
            <li><a class="dropdown-item" href="#">extra large</a></li>
          </ul>
        </div>
        </span>
        </p>


       

      </div>

    </div>






 
  

<h1 class="related">RELATED PRODUCTS</h1>

<div class="row p-5" style="min-height: 100vh; " >
     {{#each relatedproduct}}
    <div class="col-md-4 col-sm-6 col-lg-3">
        <div class="product-grid">
            <div class="product-image">
                <a href="/view-image/{{this._id}}" class="image">
                    <img class="img-1" src="/product-images/{{this._id}}.jpg">
                    <img class="img-2" src="/product-images1/{{this._id}}.jpg">
                </a>
                <ul class="product-links">
                   
                    <li><a href="#" style="background-color: aliceblue;"><i class="fa-solid fa-x"></i></a></li>
                    <li ><a style="padding-top: .3rem;" > <button onclick="addToCart('{{this._id}}')"  style="background-color: aliceblue; border:0" class="fa fa-shopping-cart "></button></a></li>
                </ul>
                
            </div>
            <div class="product-content">
                <ul class="rating">
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star"></li>
                    <li class="fas fa-star disable"></li>
                    <li class="disable">(1 reviews)</li>
                </ul>
                
              
                <h3 class="title"><a href="#">{{this.brand}}</a></h3>
                <div class="price">₹{{this.offerPrice}} <span> ₹{{this.orginalPrice}}</span></div>
                
            </div>
        </div>
    </div>
    {{/each}}
</div>
</div>
 </div>
</section>
<script>
        function addToCart(proId){
            $.ajax({
                url:'/add-to-cart/'+proId,
                method:'get',
                success:(response)=>{
                    if(response.status){
                        let count=$('#cartCount').html()
                        count=parseInt(count)+1
                        $("#cartCount").html(count)
                    }
                    
                }
            })
        }
    </script>












<script>
  var options = {
    width: 400,
    height: 500,
    zoomWidth: 400,
    offset: { vertical: 0, horizontal: 10 },
    scale: 1,

  }
  new ImageZoom(document.getElementById("img-container"), options)




  


</script>
<script>
  $(document).ready(function(){
$(".zoom").hover(function(){
    $(".zoom1").attr('src',$(this).attr('src'
    ))

})
})
</script>